@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style:none ;
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  background: linear-gradient(to left,#ff6b47,#ff956c);
}

img{
  border-radius: 50%;
  
}
.resume{

  width:800px;
  background:  #fff;
  margin:25px auto;
  display:flex;
}
.left{
  background: #FF9E48;
  width: 250px;
  padding:0 20px;
}
 .right{
   width: calc(100%- 250px);
 }

 .left .img_holder{
   text-align: left;
   padding: 20px 0;
 }

 .left .img_holder img{
    width:180 px;
    border-radius: 30px;
 }
 .pb{
   padding-bottom: 20px;
 }

 .title{
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 5px;
   padding-bottom: 20px;
    position: relative;
    text-align: left;
   margin-bottom: 15px;
 }

 .title:before{
  content: "";
  position: absolute;
  top:30 px;
  right:0;
  width: 50px;
  height:7 px;
 background: #CC7E39; 
}

.left .icon{
  font-size: 20px;
  color: #f53100;
}
.left .text {
  color: #f53100;
  text-transform: uppercase;
  font-size: 15px;
}

.contact .li_wrapp{
display: flex;
align-items: center;
width: 100%;
margin-bottom: 15px;
}
.contact .li_wrapp .icon {
  width:50px;
  height: 50px;
  background: f53100;
  display: flex;
}
.contact .li_wrapp .text {
  width: calc(100%-50px);
  word-break: break-all;
  color: #f53100;
}

.skills ul,
.hobbies ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills .li_wrapp,
.hobbies .li_wrapp{
  margin-bottom: 15px;
  width: 100px;
  height: 100 px;
  border-radius: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.skills .li_wrapp .text,
.hobbies .li_wrapp .text {
  margin-top: 10 px;

}
.hobbies .li_wrapp {
  border: 	2px, solid #fff;
  
}

.hobbies .li_wrapp .icon,
.hobbies .li_wrapp .text{
  color:#fff;
}
.hobbies .li_wrapp:hover{
  background: rgb(240, 146, 4);
}
.hobbies .li_wrapp:hover .icon,
.hobbies .li_wrapp:hover .text{
  color:#fff;
}
.header{
  background: #FF9E48;
  padding: 15px 30 px;
  color: #fff;
  height: 200 px;
}
.header .name {
  font-size: 52 px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f53100;
}
.header .role {
  font-weight: 350;
  font-size: 20 px ;
}
.header .about {
  margin-top:20 px;
  line-height:26 px ;
}

.right_inner{
  padding:30px;
  color: #f53100;
}
.right_inner .education{
  margin-top: 30 px;
  }
.right_inner .li_wrapp{
  display: flex;
  margin-bottom: 15px;
}
.right_inner .li_wrapp .date{
  width: 125 px;
  color: #ff6b47;
}
.right_inner .li_wrapp .info{
width: calc(100%-125 px);
position: relative;
padding-left: 25px;
}
.right_inner .li_wrapp .info_title{
text-transform: uppercase;
font-weight:600 ;
letter-spacing: 2px;
color:#f53100;
}
.right_inner .li_wrapp .info_com{
font-weight: 350;
font-size: 14px;
margin-top: 3px;
}
.right_inner .li_wrapp .info_cont{
margin-top: 15px;

}

.right_inner .li_wrapp .info:before{
  content: "";
  position:absolute;
  top:10px;
  left:0px;
  width:10px;
  height:10px;
  border-radius: 50%;
  background: #f84700;
}
.right_inner .li_wrapp .info:after{
  content: "";
  position:absolute;
  top:10px;
  left:4px;
  width:2px;
  height:90%;
  background: #f84700;
}